   {% extends "base.html" %}
    {% block content %}

        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><span class="text-warning">Project</span>1</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page1')}}">GitHub</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page2')}}">Docker</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page3')}}">Python/Flask</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simple_pages.show', page='page4')}}">Continuous Integration and Deployment</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="clearfix">
      <img src="{{ url_for('static', filename='images/github-cover.jpg') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

      <p>
        <h1> Git Branches:</h2>Branching is how git and GitHub manage this timeline, especially when multiple people are working on the project and making changes.
            A branch is essentially a distinct set of code changes with a distinct name.
            There can be one or more branches in each repository.
            The main branch, also known as master, is where all changes are eventually merged back into.
            This is the official working version of your project, which you can find at github.com/yourname/projectname.
            Branching is how git and GitHub manage this timeline, especially when multiple people are working on the project and making changes.
      </p>

        <h1> Git Branches:How to create a branch in Git</h2>
    <ul>
      <li>Step 1: At the top of the app, click Current Branch and then in the list of branches, click the branch that you want to base your new branch on.</li>
      <li>Step 2: Click New Branch.</li>
      <li>Step 3: Under Name, type the name of the new branch.</li>
      <li>Step 4:Use the drop-down to choose a base branch for your new branch.</li>
      <li>Step 5:Click Create Branch.</li>
    </ul>





      <p>
        <h1>Git Merging:</h1>When you use the Squash and merge option on a GitHub.com pull request,
        the commits in the pull request are squished into a single commit.
            Instead of viewing all of a contributor's individual commits from a subject branch,
            the commits are merged into the default branch as one commit.
      </p>

        <p>
        <h1>Git Merging: How to merge commits in Git</h1>

    <ul>
      <li>Step 1: git rebase -i master (instead of master you can also use a specific commit)</li>
      <li>Step 2: Change 'pick' to 'squash' for last committed changes.
          something like shown below. Doing that so, your last 2 commits will be merged with the first one.</li>
      <li>Step 3: save the editor with the following command. :wq</li>
    </ul>
      </p>

      <p>
        <h1>Git Commit:</h1>These commits are snapshots of your whole repository taken at certain periods.
            You should create new commits often, depending on logical units of change. Over time, commits should explain the tale of your
            repository's history and how it got to be the way it is now. Commits include a lot of metadata in addition to the contents and message,
            such as the author, timestamp, and so on. You can use git add. and git commit to add commit changes you make to git. git add: takes a
            modified file in your working directory and places the modified version in a staging area. git commit:  takes everything from the staging
            area and makes a permanent snapshot of the current state of your repository that is associated with a unique identifier.
      </p>

    <p>
        <h1>How to use Git commit:</h1>
    <ul>
      <li>Step 1:Sign in to your user account on GitHub.</li>
      <li>Step 2: In the upper right corner, click the + sign icon, then choose New repository.
          This will take you to a page where you can enter a repository name,
          description, and choose to initialize with a README file.</li>
      <li>Step 3: Create a file</li>
      <li>Step 4: Make a commit with following code: git commit -m "first commit"</li>
      <li>Step 5: Connect github repository to computer</li>
    </ul>
      </p>


    <p>
        <h1>Git Repositories:</h1>GitHub is a code hosting platform for version control and collaboration.
            It allows you and others to collaborate on projects from anywhere.
            This course teaches you the fundamentals of GitHub, such as repositories, branches, commits, and pull requests..
      </p>

        <p>
        <h1>Git Repositories:How to create a Git repositiory</h1>
        <li>Step 1:Sign in to your user account on GitHub.</li>
      <li>Step 2: In the upper right corner, click the + sign icon, then choose New repository.
          This will take you to a page where you can enter a repository name,
          description, and choose to initialize with a README file.</li>
      <li>Step 3: Select create repository, and you will be taken to your new repository web page.</li>

        <p>
        <h1>Git Tags:</h1> Tags in Git are the reference points in the Git history that denotes special events.
        It is not a rule to tag the releases. You can tag any commit for any purpose you want.
        In addition to that, no matter how much time we spend on the project,
        any new member can look at the git log and identify unique points in the project's timeline through Git.
        Tags help in identifying different commits that are important enough to be recognized or be noticed.
      </p>

        <p>
        <h1>Git Tags: How to add Tags in Git</h1>
    <ul>
      <li>Step 1: Open Git Bash in the working directory.</li>
      <li>Step 2: Check if you have a clean working directory.</li>
      <li>Step 3: Execute this command: git log --oneline</li>
      <li>Step 4: Tag the following commit to your dev branch: git tag ongoing dev</li>
      <li>Step 5: To verify tag creation, executing the following command: git log --oneline</li>
    </ul>
      </p>
    </div>





    {% endblock %}